* {
    box-sizing: border-box;
}
.container {
    /* text-align: center; */
    padding-left: 200px;
    padding-right: 200px;
}
h1 {
    text-align: center;
}
p {
    text-align: center;
    font-size: 20px;
}
label {
    font-size: 20px;
}
.buttons {
    padding-top: 30px;
    text-align: center;
    
}
.button {
    background-color: #3793FF;
    width: 30%;
    height: 40px;
    border-radius: 5px;
}
.blocks {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
}
